{# templates/gallery.html #}
{% extends "base.html" %}

{% block title %}Gallery - Fade Kings{% endblock %}

{% block content %}
    <div class="container">
        <h1>Gallery</h1>
        <div class="gallery">
            <img src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Cut 1">
            <img src="{{ url_for('static', filename='images/image5.jpg') }}" alt="Cut 2">
            <img src="{{ url_for('static', filename='images/image6.jpg') }}" alt="Cut 3">
            <img src="{{ url_for('static', filename='images/image7.jpg') }}" alt="Cut 4">
            <img src="{{ url_for('static', filename='images/image8.jpg') }}" alt="Cut 5">
        </div>
    </div>
{% endblock %}
