{# templates/gallery.html #}
{% extends "base.html" %}

{% block title %}Gallery - Fade Kings{% endblock %}

{% block content %}
    <div class="container">
        <h1>Gallery</h1>
        <div class="gallery">
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Cut 1">
            <img src="{{ url_for('static', filename='images/image10.jpg') }}" alt="Cut 2">
            <img src="{{ url_for('static', filename='images/image11.jpg') }}" alt="Cut 3">
            <img src="{{ url_for('static', filename='images/image12.jpg') }}" alt="Cut 4">
            <img src="{{ url_for('static', filename='images/image13.jpg') }}" alt="Cut 5">
            <img src="{{ url_for('static', filename='images/image14.jpg') }}" alt="Cut 6">
            <img src="{{ url_for('static', filename='images/image5.jpg') }}" alt="Cut 7">
            <img src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Cut 8">
            <img src="{{ url_for('static', filename='images/image6.jpg') }}" alt="Cut 9">
            <img src="{{ url_for('static', filename='images/image7.jpg') }}" alt="Cut 10">
            <img src="{{ url_for('static', filename='images/image8.jpg') }}" alt="Cut 11">
            <img src="{{ url_for('static', filename='images/image9.jpg') }}" alt="Cut 12">
            <img src="{{ url_for('static', filename='images/image15.jpg') }}" alt="Cut 13">
            <img src="{{ url_for('static', filename='images/image17.jpg') }}" alt="Cut 14">
            <img src="{{ url_for('static', filename='images/image18.jpg') }}" alt="Cut 15">
            <img src="{{ url_for('static', filename='images/image19.jpg') }}" alt="Cut 16">
        </div>
    </div>
{% endblock %}
